@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    
  }
}

/* Luxury Fine-Line Structural Blueprint Utility Classes */
.architectural-line {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
}